{% extends 'base.html' %}
{% block titulo %}Bienvenidos al Sistema{% endblock %}

{% block contenido %}
{% include 'menu.html'%}
<h2 class="text">Lista de Usuarios</h2>

<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        {% for usuarios in data %}
        <tr>
            <td>{{usuarios.nombre}}</td>
            <td>{{usuarios.email}}</td>
            <td><a href="/usuarios/{{usuarios.id}}/editar">Editar</a></td>
            <td><a href="/usuarios/{{usuarios.id}}">Mostrar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}