{% extends 'base.html' %}
{% block titulo %}Bienvenidos al Sistema{% endblock %}

{% block contenido %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/login" style="color: antiquewhite;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/salir" style="color: antiquewhite;">Logout</a>
        </li>
    </ul>
</nav>
<div class="card" style="width: 40rem; margin-top: 70px;">
    <h2 class="text">Destino del viaje</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Planned By:{{viaje.creador_id}}</li> # Integrar el nombre del usuario
        <li class="list-group-item">Descripcion: {{ viaje.descripcion }} </li>
        <li class="list-group-item">Travel Date From: {{ viaje.fecha_desde }} </li>
        <li class="list-group-item">Travel Date To: {{ viaje.fecha_hasta }} </li>
        <li class="list-group-item">Destino: {{ viaje.destino }} </li>
    </ul>
</div>

<div class="border border-4" style="width: 40rem; margin-top: 70px;">
    <h2 class="text">Destino del viaje</h2>
    <div class="card-header">
        Other User Joing the Trip:
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">nombre jinja</li> #Nombre de los que se unen al viaje en el accionar JOIN
    </ul>
</div>
{% endblock %}